

.zine {
  display: grid;
  grid-template-areas:
  "page-5 page-4 page-3 page-2"
  "page-6 page-7 page-8 page-1";
  margin: 0;
}


.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, .page-7, .page-8 {
  margin: 0;
  width: 98%;
  height: 98%;
  /* borders */
  border-style: solid;
  border-width: thin;
}


.aaa {
  width: 100%;
  height: 100%;
}

.page-5, .page-4, .page-3, .page-2 {
  transform: rotate(180deg);
}
.page-1 { grid-area: page-1; }
.page-2 { grid-area: page-2; }
.page-3 { grid-area: page-3; }
.page-4 { grid-area: page-4; }
.page-5 { grid-area: page-5; }
.page-6 { grid-area: page-6; }
.page-7 { grid-area: page-7; }
.page-8 { grid-area: page-8; }
/* You get the idea… */

}
